
@using Dominio;

@{
    ViewData["Title"] = "Pagos";
}

<h1>Listar pagos</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Nombre</td>
         <td>Monto</td>

    </tr>
    </thead>
    <tbody>
    </tbody>
  
    
</table>

