@*
    
*@
@{
    ViewData["Title"] = "AgregarPago";
}
<h1>Nuevo Pago</h1>
<form asp-action="NuevoPago" method="post">
    <input type="text" name="NuevoTipoPago"  />
    <label for="NuevoTipoPago">Tipo de Pago</label> 
    <button type="submit" class="btn btn-primary mt-3">Agregar Pago</button>
    </form>
